<div role="tabpanel" class="tab-pane fade" id="nav-4">
    
      
                <form method="POST" action ="{{ path('upload_test') }}" enctype="multipart/form-data">

                    <input type="file" name="image">

                    <button type="submit" class="btn btn-primary">
                            <i class="fas fa-file-upload"></i> {{ button_label_upload }} 
                    </button>           

                </form>

      
                {{ form_start(form) }}
      

                <hr>

  

</div>
